.carousel-indicators li{
    background-color:var(--box-shadow-color);
    border-radius: 100% ;
    width: 5px ;
    height: 5px ;
    cursor: pointer;
}
.carousel-indicators .active{
    background-color:var(--text-color);
}

#carousel-img-list{
    box-shadow:var(--box-shadow-color) 0px 10px 20px -15px;
}

.carousel-preNext{
    background-color: var(--input-border-color);
}

#category-list > div:nth-child(even){
    flex-flow: row-reverse;
}

#category-list > div:last-child{
    box-shadow: none;
}

.category-card{
    width: 100%;
    height: auto;
    box-shadow: var(--box-shadow-color) 0px 10px 20px -15px;
}

@media (min-width: 768px){
    .category-card .modified-button{
        width: 70%;
    }
}

@media( min-width: 375px) and (max-width:426px){
    .carousel-indicators li{
        bottom: -3rem;
    }
}

@media (min-width: 992px){
    .category-card .modified-button{
        width: 60%;
    }
}
@media (min-width: 1200px){
    .category-card .modified-button{
        width: 48%;
    }
}

