
      
        <section class="container-fluid mt-0 mt-sm-5 modified-main-container p-0">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <h1>Signup</h1>      
                <p>We do not share your personal details with anyone</p>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-4">
                <form onsubmit="registerUser(event)"> 
                    <div class="form-group border-0">
                      <input type="text" id="first-name" class="modified-input" autocomplete="off" placeholder="First Name">
                      <small id="first-name-alert" class="text-danger display-none">Enter first name</small>
                    </div>
                    <div class="form-group border-0">
                        <input type="text" id="last-name" class="modified-input"  autocomplete="off" placeholder="Last Name">
                        <small id="last-name-alert" class="text-danger display-none" >Enter last name</small>
                      </div>
                      <div class="form-group border-0">
                        <input type="email" id="email" class="modified-input" autocomplete="off"  placeholder="Email">
                        <small id="email-alert" class="text-danger display-none">Enter email</small>
                      </div>
                    <div class="form-group">
                      <input type="password" id="password" class="modified-input" 
                            minlength="6" pattern="(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)"
                            title="Password must have minimum six characters, atleast one number, atleast one character no spaces" 
                            autocomplete="off" placeholder="Password">
                      <small id="password-alert" class="text-danger display-none">Enter password</small>
                    </div>
                    <div class="form-group">
                        <input type="password" id="confirm-password" class="modified-input" placeholder="Confirm Password">
                        <small id="confirm-password-alert" class="text-danger display-none">Password mismatch</small>
                      </div>
                    <div class="form-group">
                       <button type="submit" aria-label="Signup" id="submitForm" class="modified-button">Signup</button>
                    </div> 
                  </form>
              </div>
            </div>
        </section>

