.sidebar-icon{
    position: absolute;
    right: 1rem ;
    top:0;
    cursor: pointer;
 }

.sidebar{
    background-color:var(--primary-color);
    justify-content:space-between;
    color:white;
    font-size:1.5rem;
    cursor:pointer; 
    display: block;
}

.sidebar-item-list{
    padding:1rem 0.5rem;
    border-bottom:0.1rem solid var(--side-bar-color);
    cursor: pointer;
}

.sidebar-item-list:hover{
    background:var(--sidebar-item-list-border-color);
    color:var(--text-color);
    transition: 2sec;
}

.sidebar-item-list-active{
    background-color: var(--primary-color);
    color: white;
}

#category-list{
    background-color: var(--secondary-color);
    min-height: 100vh;
}

.card-title{
    height: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-description{
    background-color:var(--secondary-color);
    height: 9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0rem;
}
.mrp-price{
    font-size: 12px;
}
.cost-price{
    padding-bottom: 5px;
}
.buyNowWidth{
    width: 50%;
}
 .card{
     border-radius: 0;
     border-right: 0.2rem solid var(--border-color);
     border-left: 0.2rem solid var(--border-color);
 }

 .card-description-container > div{
    width: 50%;
}
 div select{
    display: none;
}

@media (min-width: 576px){
    .sidebar{
        display: none;
    }
    .card-description-container > div{
        margin-bottom: 0.75rem;
    }
    .card-title{
        margin-top:0.50rem;
    }
}
@media (max-width: 425px){
    .card-description-container > div{
        margin-bottom: 0.75rem;
    }
    .card-title{
        margin-top:0.50rem;
    }
    div#category-list{
        display: none !important;
    }
    div select {
         display: inline-block;
    }
    .sidebar-list-border, .sidebar-list-border:focus, .sidebar-list-border:active{
        border: none;
        outline: none;
    }
    .sidebar-option-size{
        font-size: 14px;
    } 
    .sidebar select{
        overflow: hidden !important;
        width: 64%;
        font-size: 21px;
    }
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
    .fa-angle-down:before {
        padding-left: 6rem !important;
    }
}

@media (min-width: 992px){
.card-description-container > div{
    width: 100%;
    }
}